section{
    border-radius: 5px;
    background-color: lightblue;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.resource-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
}
.top-level{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.resource-icon{
    height: 120px;
    width: 120px;
    border-radius: 180px;
    margin-right: 20px;
}
.resource-link h3{
    width: fit-content
}
.resource-link{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color:#334eac;
    color: white;
}
iframe{
    border-radius: 5px;
}
.resource-block ul{
    list-style: none;
    margin-bottom: 20px;
}
.resource-block ul li{
    margin-bottom: 10px;
}