section{
    margin: 10px;
    border-radius: 5px;
    background-color: lightblue;
    height: fit-content;
    padding: 20px 40px;
}
.resource-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.resource-block div{
    width: 45%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.resource-icon{
    height: 120px;
    width: 120px;
    border-radius: 180px;
    margin-bottom: 20px;
}
.resource-link{
    background-color:rgb(63, 115, 133);
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    color:white;
    width: 100%;
}
ul{
    list-style: square;
}
li{
    margin: 10px 0;
}