section{
    border-radius: 5px;
    background-color: lightblue;
    height: fit-content;
    padding: 20px;
}
.resource-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
}
.top-level{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.resource-icon{
    height: 120px;
    width: 120px;
    border-radius: 180px;
    margin: 0 20px 20px 0;
}
.resource-link h3{
    width: fit-content
}
.resource-link{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: dimgray;
}
iframe{
    border-radius: 5px;
}